.image > img {
    width: 400px;
}

.image {
    display: flex;
    align-items: center;
    /*!*align-items: flex-start;*!效果等同*/
    transition: transform 0.5s;
}

.view {
    width: 400px;
    overflow: hidden;
}

.buttons > span {
    border: 1px solid black;
}

.red {
    color: red;
}